/*
 Theme Name:   Theme for the test task
 Theme URI:    
 Description:  Child theme from Twentyseventeen
 Author:       Lilumi
 Author URI:   
 Template:     twentyseventeen
 Version:      1.0.0
 License:      
 License URI:  
 Tags:         
 Text Domain:  ts-child
*/



/* Footer Call to action block */
.btn { /* copy of style for input from parent theme */
  background-color: #222;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  margin: 0.5em 0;
  padding: 0.7em;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
  text-align: center;
} 

.btn:hover, 
.btn:focus {
  background-color: #767676;
  color: #fff;
}

.footer-cta {
  float: right;
}

.footer-cta a {
  display: block;
}

.footer-cta .contact-form {
  display: inline-block;
}


@media screen and (min-width: 48em) {
  
  .visible-mobile {
    display: none;
  }  

}

@media screen and (max-width: 48em) {

  .site-info {
    float: left;
  }

  .footer-cta {
    float: left;
    width: 100%;
  }

  .footer-cta span {
    display: none;
  }

  .visible-mobile, 
  .footer-cta .visible-mobile {
    display: inline;
  }

  .footer-cta a { /* copy of style for input from parent theme */
    background-color: #222;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    margin: 0 1em 1em 0;
    padding: 0.7em 2em;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap;
  }  


  .footer-cta a:hover, 
  .footer-cta a:focus {
    background-color: #767676;
  }  

}

@media screen and (max-width: 30em) {

  .footer-cta a {
    width: 100%;
    display: block;
    margin: 0 0 1em 0;
    text-align: center;
  }

}

/* fix style after moving blocks on a single product page template */
.entry-summary .cart {
  margin: 2em 0;
}


/* Popup */
.cf-overlay {
  display: none;
  position: fixed;
  background-color: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}

.cf-popup-wrapper {
  display: none;
  position: absolute;
  width: 680px;
  top: 10px;
  left: 50%;
  margin-left:-340px;
  z-index: 10000;
}

.cf-popup {
  margin: 20px;
  min-height: 300px;
  background-color: #fff;  
  padding: 34px 20px 20px;
}

.cf-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  text-align: center;
  font: bold 20px/1.2em Verdana, Geneva, sans-serif;
  color: #fff;
  background-color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;  
}

.cf-close:hover {
  background-color: #999;
}

.cf-popup p {
  text-align: center;
  margin: 0 0 1em;
}

.popup-visible {
  display: block;
}

.cf-visible .cf-overlay  {
  display: block;
}

@media screen and (max-width: 48em) {

  .cf-popup-wrapper {
    width: 100%;
    margin: 0;
    left: 0;
  }

}