body {
  direction:rtl;
  unicode-bidi:embed;
}

.footer-cta {
  float: left;
}

.site-info {
  float: right;
}

.single-product .woocommerce-product-rating .star-rating {
  float: right;
  margin-left: .25em;
}

.star-rating span,
.star-rating::before,
.star-rating span::before {
  float: right;
  left: auto;
  right: 0;
}

.woocommerce #content div.product div.thumbnails a, 
.woocommerce div.product div.thumbnails a, 
.woocommerce-page #content div.product div.thumbnails a, 
.woocommerce-page div.product div.thumbnails a {
  float: right;
  margin-left: 3.8%;
  margin-right: 0;
}


.woocommerce #content div.product div.thumbnails a.last, 
.woocommerce div.product div.thumbnails a.last, 
.woocommerce-page #content div.product div.thumbnails a.last, 
.woocommerce-page div.product div.thumbnails a.last {
  margin-left: 0;
}

.site-footer .widget .product_list_widget li a.remove, 
.widget .product_list_widget li a.remove {
  float: left;
  line-height: 1.2em;
}

.widget_product_search .search-field {
  padding-left: 100px;
  padding-right: 0.7em;
}

.widget_product_search input[type=submit] {
  position: absolute;
  left: .5em;
  right: auto;
}

.woocommerce-breadcrumb {
  direction: ltr;
  text-align: right;
}

.related.products .onsale {
  left: auto;
  right: 0;
}

.single-product form.cart .quantity {
  float: right;
  margin-left: 0.5em;
  margin-right: 0;
}


@media screen and (max-width: 48em) {

  .footer-cta a{
    margin: 0 0 1em 1em;
  }


}


@media screen and (min-width: 48em) {

  .has-sidebar:not(.error404) #primary {
    float: right;
  }

  .has-sidebar #secondary {
    float: left;
  }

}




